# development configuration
#
# docker-compose run --service-ports --rm provider

version: '3.4'
services:
  provider:
    volumes:
      - ../provider:/usr/src/provider/
      - $PWD/temp/bash_history:/root/
      # data vol to store node_modules
      - /usr/src/provider/node_modules
      - ../.git:/usr/src/.git
